{% extends "_layout" %}

{% set templateName = "index-layout" %}

{% set title = "Index" %}

{% block content %}
<section class="masthead" id="about">
  <article class="intro">

  {% if entry.header %}
  <h1>{{ entry.header }}</h1>
  {% endif %}

  {% if entry.richText %}
  <div class="rich-text">
    {{ entry.richText }}
  </div>
  {% endif %}

  {% if entry.buttonText %}
  <a href="{% if entry.buttonUrl %} {{ entry.buttonUrl }} {% else %} # {% endif %}" class="button">
    {{ entry.buttonText }}
  </a>
  {% endif %}

  </article>
</section>

<section class="projects" id="projects">
<h2>Work</h2>

{% for entry in craft.entries.section('projects').all %}

  {% include 'includes/project.twig' %}

{% endfor %}
</section>

<section class="services" id="services">
<h2>Services</h2>
{% for entry in craft.entries.section('services').all %}

<div class="services-grid">
  {% for block in entry.services.type('service').all %}
  <article class="service">
    <h3>{{ block.serviceHeading }}</h3>
    <div class="rich-text">
      {{ block.serviceContent }}
    </div>
  </article>
  {% endfor %}
</div>

{% endfor %}
</section>


<section class="clients" id="clients">
<h2>Clients</h2>

{% for entry in craft.entries.section('clients').all %}
<ul>
  {% for block in entry.clients.type('client').all %}
    <li>{{ block.clientName }}</li>
  {% endfor %}
</ul>
{% endfor %}

</section>

<section class="contact" id="contact">
<h2>Contact</h2>
{% for entry in craft.entries.section('contact').all %}
<p><a href="mailto:{{ entry.contactEmail }}">{{ entry.contactEmail }}</a></p>
{% endfor %}
</section>

{% endblock %}
